<div class="container" style="text-align: center;">
  <ul class="list-group">
  <li class="list-group-item"> <strong>Listado de pedidos</strong> </li>

  
  <li class="list-group-item list-group-item-primary"> <a [routerLink]="['/home']">Pedido1</a></li>
  <li class="list-group-item list-group-item-secondary"> <a [routerLink]="['/home']">Pedido 2</a></li>
  <li class="list-group-item list-group-item-success"><a [routerLink]="['/home']">Pedido 3</a></li>
  <li class="list-group-item list-group-item-danger"><a [routerLink]="['/home']">Pedido 4</a></li>
  <li class="list-group-item list-group-item-warning"><a  [routerLink]="['/home']">Pedido 5</a></li>
  <li class="list-group-item list-group-item-info"><a  [routerLink]="['/home']">Pedido 6</a></li>
  <li class="list-group-item list-group-item-dark"><a  [routerLink]="['/home']">Pedido 7</a></li>
</ul>

</div>
