<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">PizzaMia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pedidos']">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reportes']">Reportes</a>
      </li>
      
    </ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

  </div>

<router-outlet></router-outlet>
